<app-navigation></app-navigation>




<div class="login-container">

  <!-- Form -->
  <br />

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="tokenConfirmForm">


        <mat-form-field appearance="outline">
          <mat-label>One time pin</mat-label>
          <input matInput formControlName="token" placeholder="One time pin" />
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input type="username" matInput formControlName="username" placeholder="Enter username" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input type="password" matInput formControlName="newPassword" placeholder="password" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="newPasswordConfirm" placeholder="Confirm password" />
        </mat-form-field>
  
  

        <div *ngIf="confFailed" style="color:#f86c6b">{{error}}</div>
        <button type="button" mat-raised-button color="warning" (click)="onPinConfirm()"><span *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"></span>Reset Password</button>
        <div>Remembered your password?
          <button type="button" class="btn btn-link px-0" (click)="login()">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>