<app-navigation></app-navigation>




<div class="login-container">

  <!-- Form -->
   <br />

  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Forgot Password</mat-card-title>
    </mat-card-header>

    <mat-card-content>


      <!-- Form -->
<h4 style="color:  rgb(150, 73, 0);">Enter your details to begin</h4>
      <form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm">

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" placeholder="Enter your username" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Id Number</mat-label>
          <input matInput formControlName="idNumber" placeholder="Enter your Id Number" />
        </mat-form-field>


        <div *ngIf="confFailed" style="color:#f86c6b">{{error}}</div>
        <button type="button" mat-raised-button color="warning" (click)="onReset()"><span *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"></span>Reset Password</button>
        <div >

          <a href="/login" style="color:  rgb(150, 73, 0);"><b>Login</b></a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>