<div mat-dialog-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Terms of Service</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>1.  PURPOSE
            This agreement sets out the terms and conditions under which CYA22KA Holdings will collect, store, and process personal and policy-related information of the Policyholder in compliance with the Protection of Personal Information Act (POPIA) and other relevant laws.
            
            2.  DEFINITIONS
            “Personal Information” refers to any information relating to an identifiable individual, including but not limited to name, ID number, contact details, and policy
            “Processing” refers to the collection, storage, modification, retrieval, sharing, or deletion of Personal
            3.  OBLIGATIONS OF THE COMPANY
            </p><p>
            CYA22KA Holdings shall collect, store, and process the Policyholder’s personal and policy- related data solely for the purposes of managing funeral and life
            CYA22KA Holdings shall implement appropriate security measures to protect Personal Information from unauthorized access, loss, or
            CYA22KA Holdings shall not disclose Personal Information to third parties except where required by law or with the explicit consent of the
          </p><p>
            4.  RIGHTS AND RESPONSIBILITIES OF THE POLICYHOLDER
            The Policyholder consents to the collection, processing, and storage of Personal Information for policy administration
            The Policyholder has the right to access, update, correct, or request the deletion of their Personal Information subject to legal and regulatory
            The Policyholder shall notify CYA22KA Holdings of any changes in Personal Information to ensure data accuracy.
          </p><p>
            5.  PAYMENT TERMS
            The Policyholder agrees to pay CYA22KA Holdings a fee for policy data management The payment options are:
            Monthly Fee: ZAR 85 payable on the Effective date of each month.
            Yearly Fee: ZAR 85 payable annually on the effective of each year.
            Payments shall be made via the following payment methods:
            Online Payment Gateways (e.g., PayFast, Peach Payments, Yoco).
            Credit/Debit Card Payments (Visa, Mastercard, and other major cards).
            Mobile Payment Platforms (SnapScan, Zapper, Apple Pay, Google Pay).
            Debit Orders (automatic deductions from the Policyholder’s bank account).
            Payments must be made by the due date to avoid service A grace period of 14 days may be granted at the Company’s discretion.
            Failure to make timely payments may result in service termination, subject to a written notice
          </p><p>
            6.  DATA RETENTION AND DESTRUCTION
            CYA22KA Holdings shall retain Personal Information for the duration of the policy and a further five (5) years after termination, as required by
            Upon expiration of the retention period, Personal Information will be securely deleted unless required for legal or regulatory
          </p><p>
            7.  DATA BREACH NOTIFICATION
            In the event of a data breach affecting the Policyholder’s Personal Information, CYA22KA Holdings shall notify the Policyholder and the Information Regulator of South Africa
          </p><p>
            8.  TERMINATION
            Either party may terminate this agreement with thirty (30) days written
            Termination of this agreement shall not affect the Company’s obligation to retain Personal Information for the required legal
            G. GOVERNING LAW
            This agreement shall be governed and interpreted in accordance with the laws of South Africa.
          </p><p>
            10.  DISPUTE RESOLUTION
            Any disputes arising from this agreement shall first be resolved amicably through
            If mediation fails, disputes shall be settled by arbitration in accordance with the laws of South
            11.  SIGNATURES
            By agreeing to the above, both parties acknowledge that they have read, understood, and agreed to the terms of this contract.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div mat-dialog-actions>
    <mat-checkbox [(ngModel)]="tos"></mat-checkbox>
    <button type="button" mat-raised-button color="warning" (click)="acceptTos()">I Agree</button>
  </div>
  