<nav class="navbar">
  <div class="navbar-container">
    <a  *ngIf="role == 'ROLE_POLICY_HOLDER'"  href="/policies" class="navbar-logo"><img src="assets/images/logo-small.png" alt=""></a>

    <a  *ngIf="role == 'ROLE_ADMIN'"  href="/admin/policies" class="navbar-logo"><img src="assets/images/logo-small.png" alt=""></a>



    <ul class="navbar-menu">
      <li *ngIf="role == 'ROLE_POLICY_HOLDER'" class="navbar-item"><a href="/policies" class="navbar-link">Home</a></li>
      <!--
      <li  class="navbar-item"><a href="/about-us" class="navbar-link">About Us</a></li>
     -->
      <li *ngIf="role == 'ROLE_POLICY_HOLDER'" class="navbar-item"><a href="/policies" class="navbar-link">Policies</a>
      </li>
      <li *ngIf="(role == 'ROLE_POLICY_HOLDER') && (global.currentUserValue?.subscriptions?.length ?? 0 > 0)" class="navbar-item"><a href="/add-policy" class="navbar-link">Add
          Policy</a></li>
      <li *ngIf="role == 'ROLE_ADMIN'" class="navbar-item"><a href="/admin" class="navbar-link">Users</a></li>
      <li *ngIf="role == 'ROLE_ADMIN'" class="navbar-item"><a href="/admin/policies" class="navbar-link">All Policies</a></li>
      <li *ngIf="role == 'ROLE_ADMIN'" class="navbar-item"><a href="/admin/file-upload" class="navbar-link">File Upload</a></li>
    </ul>

    <button *ngIf="role == 'ROLE_POLICY_HOLDER'"  class="navbar-link profile-btn" (click)="myProfile()">My Profile</button>
    <button  class="navbar-link logout-btn" (click)="logout()">{{logoutLabel}}</button>
  </div>
</nav>
<div class="row">
  <span *ngIf="currentUser" class="user-info text-end me-3"
    style="padding-right: 25px !important;margin-right: 25px;">You are logged in as
    <b>{{currentUser}}</b></span>
</div>